.icon-aajege-bag
    background-image: url("../icons/poeng-voesse.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 75px 56px

.icon-aajege-home
    background-image: url("../icons/heim.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 72px 65px

.icon-aajege-info
    background-image: url("../icons/info.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 74px 74px

.icon-aajege-down-arrow
    background-image: url("../icons/down-arrow.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 32px 32px

.icon-aajege-left-arrow
    background-image: url("../icons/left-arrow.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 32px 32px

    .label
        color: #222 !important


.icon-aajege-bag, .icon-aajege-home
    display: block
    width: 32px
    height: 32px
