#global_options
    ul[data-role="listview"]
        border-top: none
        margin: 0 .5em

        li:first-child
            border-top: none

    legend
        font-size: 120%


// iPad: 768 x 927
@media only screen and (min-width: 766px)
    #global_options
        form
            display: block
            margin: 2em auto
            width: 550px
