@-webkit-keyframes blue_flash
    0% 
        box-shadow: 0px 0px 0px #77F
    22% 
        box-shadow: 0px 0px 4px #77F
    22% 
        box-shadow: 0px 0px 30px #77F
    77% 
        box-shadow: 0px 0px 4px #77F
    100% 
        box-shadow: 0px 0px 0px #77F

blue-flash-animation()
    -webkit-animation-name: blue_flash
    -webkit-animation-duration: 3000ms
    -webkit-animation-iteration-count: 40
    -webkit-animation-timing-function: ease-in-out

#user_stats_page
    g text
        color: #FFF
        text-shadow: 1px 1px 1px #000 , -1px -1px 1px #000 , 1px -1px 1px #000, -1px 1px 1px #000
        fill: #FFF
        font-size: 110%

    background-color: #FFF

    .seventy_thirty_grid
        display: block
        height: 200px
        width: 100%

        .row
            display: block
            float: left

        .row:last-child
            clear: right

    #categories
        ul, li
            list-style-type: none
        ul
            float: right
        li
            padding: 5px
            margin: 2px
            text-shadow: none
            text-align: center

        li:first-child
            border-radius: 5px 5px 0 0

        li:last-child
            border-radius: 0 0 5px 5px


    #high_scores
        margin-bottom: 1em

        h3
            font-family: "Kaushan Script"
            font-size: 190%
            margin: .25em 0 .75em 0
            width: 100%
            text-align: center

        #point_list, #point_list li
            list-style-type: none
            margin: 0 0 0 0
            padding: 0 0 0 0

        #point_list li
            font-family: "Open Sans"
            position: relative
            display: block
            width: 100%
            height: 2em
            line-height: 1.7em
            padding: 3px 10px
            background-color: #CCC
            border-bottom: 1px solid #AAA
            margin-bottom: .5em


        #point_list li.this_is_you
            color: #099

        #point_list li:last-child
            border-bottom: none

        #point_list .username
            font-family: "Kaushan Script"
            position: absolute
            left: 3px
            font-weight: bold
            font-size: 14pt

        #point_list .points
            position: absolute
            right: 3px
            font-size: 14pt

    #top_three
        display: block
        width: 100%
        height: 8em
        margin: 0 0 4em 0
        padding: 0 0 0 0
        position: relative

        li
            list-style-type: none

        .number
            .circled-number
                display: block
                height: 90px
                width: 90px
                line-height: 84px
                font-size: 50px

                border-radius: 50%
                border: 5px solid gold
                background-image: linear-gradient(gold, goldenrod)
                text-align: center
                margin: 0 auto

                text-shadow: none
                color: #FFF

        .second, .third
            .circled-number
                height: 60px
                width: 60px
                line-height: 54px
                font-size: 40px

        .second
            .circled-number
                border-color: #AAA
                background-image: linear-gradient(#CCC, #AAA)

        .third
            .circled-number
                border-color: #D6841C
                background-image: linear-gradient(#E7AA5C, #D6841C)

        .you_are_here
            .circled-number
                blue-flash-animation()

        li.point_block
            display: block
            width: 33%
            float: left

            .fa-stack.fa-lg
                margin: 0 auto 0 auto
                display: block

            .username
                font-weight: bold
                font-family: "Kaushan Script"
                font-size: 130%
                margin-top: 1em

            ul.score_set
                display: block
                margin: 0 0 0 0
                padding: 0 0 0 0
                width: 100%

                .score_part
                    display: block
                    width: 100%

                    span.txt
                        width: 100%
                        margin: 0 auto
                        display: block
                        text-align: center

    // iPad: 768 x 927
    @media only screen and (min-width: 750px)
        #top_three
            margin: 0 auto 5em auto
            width: 50%

        #high_scores, #high_scores + p
            margin: 0 auto
            width: 80% 

        #high_scores + p
            margin-top: 2em

