#loading_splash
    background-image: url(/static/images/bakgrunn_splash.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover !important

    #big_logo
        width: 202px
        height: 113px
        display: block
        position: relative
        margin: 5.5em auto

    #splash_footer
        position: absolute
        display: block
        height: 40px
        width: 100%

        bottom: 0
        left: 0
        background-color: #333

        #footer_version
            position: absolute
            left: 4px
            top: 10px
            opacity: .5

        #footer_logo
            position: absolute
            right: 0px
            top: 0px
            padding-right: 10px

        #footer_logo img
            width: 40px
            height: 34px

        span, p
            text-shadow: none
            color: #CCC
            font-size: 80%
