#loading_splash
    background-image: url(/static/images/bakgrunn_splash.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover !important

    #big_logo
        width: 202px
        height: 113px
        display: block
        position: relative
        margin: 5.5em auto
        border: 0px solid transparent

        background-image: url("/static/images/gielese_logo_liten.png")
        background-size: 100% 100%

    #splash_footer
        position: fixed
        display: block
        height: 40px
        width: 100%

        bottom: 0
        left: 0
        background-color: #333

        #footer_version
            position: absolute
            left: 4px
            top: 10px
            opacity: .5

        #footer_logo
            position: absolute
            right: 0px
            top: 0px
            padding-right: 10px

        #footer_logo img
            width: 40px
            height: 34px

        span, p
            text-shadow: none
            color: #CCC
            font-size: 80%

    @media only screen and (min-width: 399px)

        #big_logo
            width: 375px
            height: 208px
            margin: 7.5em auto
            background-image: url("/static/images/gielese_logo_medium.png")

    @media only screen and (min-width: 500px)

        #big_logo
            margin: 7.25em auto

    @media only screen and (min-width: 750px)

        #big_logo
            margin: 13.25em auto
