Flask==0.9
Flask-Actions==0.6.6
Flask-SQLAlchemy==0.16
Jinja2==2.6
SQLAlchemy==0.8.0
Werkzeug==0.8.3
caveman==1.0
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20110405
gunicorn==0.17.4
lxml==3.1.0
wsgiref==0.1.2
