border-image-bottom()
    -webkit-border-image: arguments repeat round /* Safari 5 */
    -o-border-image: arguments round /* Opera */
    border-image: arguments round

heavy-text-shadow(color)
    text-shadow: 2px 0px 2px color, 
        -2px 0px 2px color, 
        0px 2px 2px color, 
        0px -2px 2px color


.aajege-header
    position: relative
    top: 0px
    padding: 0 0 2px 0
    margin: 0 0 0 0

    display: block
    // height: 94px
    width: 100%

    background-color: #dac9b6

    border-bottom: 12px solid transparent

    h2 
        width: 100%
        text-align: center
        position: absolute
        top: 2px
        left: 0
        font-weight: 100
        font-size: 200%
        col = 50
        color: rgba(col, col+35, col, 1)

    hr.aajege-flette
        display: block
        position: relative
        margin-top: 40px
        bottom: 0px

        height: 12px
        width: 100%

        background-image: url("/static/images/icons/flette.png")
        background-position: center

    .aajege-nav
        margin: 0 0 0 0
        padding: 0 0 0 0
        list-style-type: none
        z-index: 5

        li
            margin: 0 0 0 0
            list-style-type: none
            float: left
            width: 74px
            height: 70px
            border-radius: 5px
            padding-bottom: 5px
            padding-left: 5px

            a
                display: block
                position: relative
                height: 74px
                width: 74px

                .label
                    display: none
                    position: absolute
                    bottom: 0px
                    margin-bottom: -14px
                    width: 100%
                    text-shadow: none
                    text-align: center
                    color: #333
                    heavy-text-shadow(#eee)
                    opacity: .8

                .display-small
                    display: inherit !important
                    position: relative

                #point_total
                    position: relative
                    width: 100%
                    text-align: center
                    color: #260
                    line-height: 3em

                .point_name
                    position: relative
                    width: 100%
                    text-align: center
                    color: #111
                    line-height: 3em
                    font-size: 90% 

        li.shadow
            box-shadow: 1px 1px 1px #000

    .aajege-nav-left
        position: absolute
        top: 0px
        left: 5px

    .aajege-nav-right
        position: absolute
        top: 0px
        right: 6px

// but don't shrink on iPad: 768 x 927
.aajege-header-shrinkable

    height: 62px
    padding-top: 8px

    .aajege-nav
        margin-top: 2px

        li, li a
            height: 38px
            width: 32px

            .label
                display: none

            .display-small
                display: inherit !important

        li a#userinfo_button
            width: 38px

        li a#userinfo_button.user_points
            width: 38px

            .label
                display: inherit !important

    h2 
        position: absolute
        text-align: center
        font-size: 150%
        margin: 0 0 0 0
        margin-top: .33em
        letter-spacing: 1px

.aajege-header-shrinkable
    .icon-aajege-down-arrow, .icon-aajege-info, .icon-aajege-home
        background-size: 32px 32px

    li.icon-aajege-bag
        background-size: 40px 32px
        width: 48px !important

    .icon-aajege-left-arrow
        background-size: 24px 24px

@media only screen and (max-height: 400px)
    .aajege-header-shrinkable
        height: 50px

        h2 
            width: 100%
            text-align: center
            position: absolute
            top: 5px
            left: 0
            font-weight: 100
            font-size: 130%
            col = 50
            color: rgba(col, col+35, col, 1)


