#nav_buttons
    margin-left: .5em
    position: fixed
    bottom: 35px

#concept_content
    margin: 0 auto

li.concept_item h2
    font-weight: 200
    font-family: "Open Sans", sans-serif
    font-size: 125%

#concept-list
    width: 10em

#concept_list_view.twothirds ui-block-a
    width: 60% !important

#concept_list_view.twothirds ui-block-b
    width: 40% !important

#concept_list_view.twothirds ul#concept-list
    overflow-y: scroll
    position: fixed
    display: block
    top: 4em
    right: 0em
    height: 90%

#current_concept_img
    margin: 0 auto
    display: block
    border-radius: 15px
    border: 1px solid #FFF

h2.concept_value
    font-family: "Open Sans"
    font-family: 500
    line-height: 1.1em

span.concept_language
    font-family: "Open Sans"
    color: #BBB
    font-size: 60%

span.error
    font-size: 80%
    color: #900

h2.concept_definition
    font-family: "Open Sans"
    font-weight: 300
    line-height: 1.1em
    font-size: 130%

h2.concept_value
    font-family: "Open Sans"
    font-weight: 500
    line-height: 1.2em
    font-size: 130%

ul#concept_definitions

    margin-left: 0
    padding-left: .5em
    list-style-type: none

    li
        list-style-type: none
        margin: 0 0
        line-height: 1.2em
