
li.concept_item h2
    font-weight: 200
    font-family: "Open Sans", sans-serif
    font-size: 125%

#concept-list
    width: 10em

#concept_list_view.twothirds ui-block-a
    width: 60% !important

#concept_list_view.twothirds ui-block-b
    width: 40% !important

#concept_list_view.twothirds ul#concept-list
    height: 100%
    overflow-y: scroll
    position: fixed
    display: block
    top: 4em
    right: 0em

#current_concept_img
    display: block
    border-radius: 15px
    border: 1px solid #FFF

