.icon-aajege-bag
    background-image: url("/static/images/icons/poeng-voesse.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 75px 56px

.icon-aajege-home
    background-image: url("/static/images/icons/heim.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 72px 65px

.icon-aajege-info
    background-image: url("/static/images/icons/info.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 74px 74px

.icon-aajege-down-arrow
    background-image: url("/static/images/icons/down-arrow.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 32px 32px

.icon-aajege-left-arrow
    background-image: url("/static/images/icons/left-arrow.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 32px 32px

    .label
        color: #222 !important

.aajege-header-shrinkable
    .icon-aajege-down-arrow, .icon-aajege-info, .icon-aajege-home
        background-size: 32px 32px

    .icon-aajege-bag
        background-size: 40px 32px

    .icon-aajege-left-arrow
        background-size: 24px 24px

.icon-aajege-bag, .icon-aajege-home
    display: block
    width: 32px
    height: 32px
