.icon-aajege-bag
    background-image: url("/static/images/icons/poeng-voesse.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 75px 56px

.icon-aajege-home
    background-image: url("/static/images/icons/heim.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 75px 70px

.icon-aajege-left-arrow
    background-image: url("/static/images/icons/left-arrow.png")
    background-repeat: no-repeat
    background-position: center
    background-size: 40px 40px

    .label
        color: #222 !important

.icon-aajege-bag, .icon-aajege-home
    display: block
    width: 32px
    height: 32px
