hr
    margin-bottom: .5em
    margin-top: .25em

.question_type h3
    font-weight: lighter
    font-size: 140%
    margin-bottom: 0

span.question_level
    float: right
    display: block
    border-radius: 90px
    background-color: #ccc
    color: #000

.possible_answers 
    position: relative

    .ui-body, .ui-bar
        padding: 0

    .ui-btn-inner
        padding-left: 0
        padding-right: 0

    .usr_msg
        display: block
        position: relative
        top: -60px
        left: 20px
        height: 0px
        text-decoration: none
        z-index: 5
        font-weight: bold

    .usr_msg.correct
        color: #3A3

    .usr_msg.incorrect
        color: #A33


.post_game_buttons
    position: relative
    float: right
    right: 10px

.question_prompt 
    display: block
    height: 100%
    width: 100%
    margin: 0 auto

    img
        margin: 0 auto

    .word_concept
        font-size: 170%
        margin-left: 1.5em
        display: block
        margin: auto 0
        width: 100%

    #question_play
        float: right
        text-decoration: none
        position: relative
        font-weight: lighter

        img
            opacity: .7

a.answerlink
    text-decoration: None
    display: block


// a.answerlink.correct:after
//     content: "  Correct!"

ul.image-grid
    display: block
    
    margin: 0 0 0 0
    padding: 0 0 0 0

    width: 300px
    height: 300px

    list-style-type: none

    li.image-item

        display: block
        float: left

        width: 130px
        height: 150px

        img
            position: relative
            vertical-align: center

.image_set 

    display: block
    margin: 0 auto

    a.answerlink
        width: 150px
        height: 150px
        padding-bottom: 1em
        margin: 0 auto

    .tint
        display: block
        width: 150px
        height: 150px

    .correct
        color: #3A3

        .tint
          background-color: #090

        .concept
          opacity: .5


    .incorrect
        color: #A33

        .tint
          background-color: #900

        .concept
          opacity: .5


.word_set

    // background shading
    .answerlink.incorrect .ui-btn-inner
        background-color: rgba(170, 51, 51, 0.7)

    .answerlink.correct .ui-btn-inner
        background-color: rgba(51, 170, 51, 0.7)

    .correct
        color: #3A3

        .concept
          color: #151

    .incorrect
        color: #A33

        .concept
          color: #311
      
// a.answerlink.incorrect:after
//     content: " Incorrect!"
//     background-color: transparent

#progress_container
    display: block
    margin-top: .25em
    position: fixed
    bottom: 10px
    width: 100%

    div 
        height: 1em
        background-color: transparent

    .progress_label
        display: none
        float: right
        text-shadow: 0 0 3px #FFF
        font-size: 80%
        margin-right: .5em

    #leksa_progress
        position: relative
        top: -1.15em

        .ui-progressbar-value
            background-color: #933

    #leksa_progress_indiv
        position: relative
        top: 0em

        .ui-progressbar-value
            background-color: #339


