.possible_answers 
    position: relative

    .ui-body, .ui-bar
	    padding: 0

    .ui-btn-inner
        padding-left: 0
        padding-right: 0

    .usr_msg
        display: block
        position: relative
        top: -60px
        left: 20px
        height: 0px
        text-decoration: none
        z-index: 5
        font-weight: bold

    .usr_msg.correct
        color: #3A3

    .usr_msg.incorrect
        color: #A33


.post_game_buttons
    position: relative
    float: right
    right: 10px

span.word_concept
    font-size: 120%
    text-decoration: None

.img_concept
    width: 150px
    height: 100px

.question_prompt 
    display: block
    height: 100%
    width: 100%
    margin: 0 auto

    img
        margin: 0 auto

    .word_concept
        font-size: 170%
        margin-left: 1.5em
        display: block
        margin: auto 0
        width: 100%

    #question_play
        float: right
        text-decoration: none
        position: relative

        img
            opacity: .7

a.answerlink
    text-decoration: None

    .img_concept
        width: 150px
        height: 100px

a.answerlink.correct
    color: #3A3
    display: block
    width: 100%
    height: 100%

    .concept.img_concept
      height: 150px
      border: 1px solid #393
      opacity: .7
      background-color: #090

    .concept.word_concept
      color: #151
      
// a.answerlink.correct:after
//     content: "  Correct!"

a.answerlink.incorrect
    color: #A33
    display: block
    width: 100%
    height: 100%

    .concept.img_concept
      height: 150px
      border: 1px solid #FDD
      opacity: .7
      background-color: #900

    .concept.word_concept
      color: #311
      
// a.answerlink.incorrect:after
//     content: " Incorrect!"
//     background-color: transparent

