
// TODO: border radius macro for all browser attrs

heavy-text-shadow()
    text-shadow: 0px 0px 1px #000,
        -1px -1px 1px #000,
        1px 1px 1px #000,
        0px 1px 1px #000,
        1px 0px 1px #000

// http://www.colorzilla.com/gradient-editor/
background-gradient()
    background: #f3e2c7 /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #f3e2c7 66%, #b68d4c 100%, #e9d4b3 100%) /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(66%,#f3e2c7), color-stop(100%,#b68d4c), color-stop(100%,#e9d4b3)) /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #f3e2c7 66%,#b68d4c 100%,#e9d4b3 100%) /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #f3e2c7 66%,#b68d4c 100%,#e9d4b3 100%) /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #f3e2c7 66%,#b68d4c 100%,#e9d4b3 100%) /* IE10+ */
    background: radial-gradient(ellipse at center, #f3e2c7 66%,#b68d4c 100%,#e9d4b3 100%) /* W3C */

html, body, .ui-page
    background-color: #FFF !important

::-moz-selection, ::selection
    background-color: #009 !important
    text-shadow: none

.upper-left-bubble, .lower-left-bubble
    position: fixed

    background-color: rgba(255, 255, 255, 0.69)
    text-align: center

    border-radius: 50%
    padding: 15px

    width: 90px
    height: 90px
    color: #525252 !important
    text-shadow: none !important
    font-size: 120%

    text-indent: 25px
    line-height: 70px
    font-weight: lighter !important
    letter-spacing: 1px !important

.invert-bubble
    background-color: rgba(52, 52, 52, .7) !important
    color: rgba(255, 255, 255, 1) !important

.upper-left-bubble
    top: -35px
    left: -35px

.lower-left-bubble
    bottom: 0
    left: -17px

#loading_float
    z-index: 5
    position: fixed
    bottom: 10px
    left: 5px
    opacity: .9

    #status
        font-size: 80%

// span.word_concept
//     font-size: 120%
//     text-decoration: None

// .img_concept
//     width: 150px
//     height: 150px

h2.heading
    font-family: "Open Sans", sans-serif
    font-weight: 400
    margin-top: .5em
    margin-bottom: .75em

#main_menu

    display: block
    margin: 0 auto
    margin-top: .5em

    a.square
        position: relative
        display: block
        width: 90px
        height: 90px
        margin-bottom: 20px
        border-radius: 15px
        color: #333
        background-color: #DDD
        text-align: center
        text-decoration: none
        // border: 1px solid #888
        box-shadow: 1px 1px 2px #111

        span.link_word
            position: absolute
            bottom: 0px

            display: block

            width: 100%
            height: 1.3em
            line-height: 1.3em

            background-color: rgba(100,100,100,.7)
            color: #FFF
            border-radius: 0 0 15px 15px

            font-size: 115%
            font-weight: 300
            letter-spacing: .5px
            text-shadow: none
            box-shadow: none

        span.link_image
            display: block
            position: absolute
            float: left
            border-radius: 15px
            width: 90px
            height: 90px
            background-image: url(http://placekitten.com/g/90/90)
            background-position: center
            -khtml-opacity: .50
            -moz-opacity: .50
            opacity: .4

#hello
    background-gradient()

#category_games
    background-position: center
    background-repeat: no-repeat
    background-size: cover !important

    #category_content
        position: fixed
        bottom: 0
        right: 0
        width: 40%
        background-color: rgba(255, 255, 255, .8)
        border-radius: 15px 0 0 0

    .category_name
        font-family: "Open Sans"
        font-weight: 100
        font-size: 170%
        text-transform: lowercase
        width: 80%

#global_options
    .ui-content h2
        margin-top: .25em
        margin-bottom: .25em
        font-weight: 300
        font-family: "Open Sans"
    .heading
        font-weight: 500
        font-family: "Open Sans"

label
    .flag_ico
        float: right
        height: 15px
        width: 20px

.aajege-header
    position: relative
    top: 0px

    display: block
    height: 100px

    width: 100%

    -webkit-border-image: url("/static/images/icons/flette.png") 0 0 14 0 round; /* Safari 5 */
    -o-border-image: url("/static/images/icons/flette.png") 0 0 14 0 round; /* Opera */
    border-image: url("/static/images/icons/flette.png") 0 0 14 0 round;
    border-bottom: 12px solid transparent

    hr.aajege-flette
        display: block
        position: relative
        bottom: 0px

        height: 12px
        width: 100%

        background-image: url("/static/images/icons/flette.png")
        background-position: center

    .aajege-nav
        margin: 0 0 0 0
        padding: 0 0 0 0
        list-style-type: none

        li
            margin: 0 0 0 0
            list-style-type: none
            float: left
            width: 74px
            height: 74px
            border-radius: 5px


            a .label
                position: absolute
                bottom: 0px
                width: 100%
                text-shadow: none
                text-align: center
                color: #FFF
                heavy-text-shadow()

        li.shadow
            box-shadow: 1px 1px 1px #000

    .aajege-nav-left
        position: absolute
        top: 2px
        left: 2px

    .aajege-nav-right
        position: absolute
        top: 2px
        right: 2px

@media only screen and (max-width: 320px)
    #main_menu
        width: 310px

    a.square, span.link_image
        width: 90px !important
        height: 90px !important

    span.link_word
        font-size: 11pt !important

    #category_games
        #category_content
            width: 55% !important

            .ui-btn-text
                font-size: 11pt !important

@media only screen and (min-width: 400px)
    #main_menu
        width: 395px
    a.square, span.link_image
        width: 110px !important
        height: 110px !important

@media only screen and (min-width: 500px)
    #main_menu
        width: 500px

    a.square, span.link_image
        width: 150px !important
        height: 150px !important
