// TODO: border radius macro for all browser attrs

heavy-text-shadow()
    text-shadow: 0px 0px 1px #000,
        -1px -1px 1px #000,
        1px 1px 1px #000,
        0px 1px 1px #000,
        1px 0px 1px #000

// http://www.colorzilla.com/gradient-editor/
background-gradient()
    background: #f3e2c7 /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #f3e2c7 66%, #b68d4c 100%, #e9d4b3 100%) /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(66%,#f3e2c7), color-stop(100%,#b68d4c), color-stop(100%,#e9d4b3)) /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #f3e2c7 66%,#b68d4c 100%,#e9d4b3 100%) /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #f3e2c7 66%,#b68d4c 100%,#e9d4b3 100%) /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #f3e2c7 66%,#b68d4c 100%,#e9d4b3 100%) /* IE10+ */
    background: radial-gradient(ellipse at center, #f3e2c7 66%,#b68d4c 100%,#e9d4b3 100%) /* W3C */

html, body, .ui-page
    background-color: #FFF !important

a, a:hover
    text-decoration: none !important

#category_menu, #concept_view, #leksa, #category_view
    background-gradient()

::-moz-selection, ::selection
    background-color: #009 !important
    text-shadow: none

.upper-left-bubble, .lower-left-bubble
    position: fixed

    background-color: rgba(255, 255, 255, 0.69)
    text-align: center

    border-radius: 50%
    padding: 15px

    width: 90px
    height: 90px
    color: #525252 !important
    text-shadow: none !important
    font-size: 120%

    text-indent: 25px
    line-height: 70px
    font-weight: lighter !important
    letter-spacing: 1px !important

.invert-bubble
    background-color: rgba(52, 52, 52, .7) !important
    color: rgba(255, 255, 255, 1) !important

.upper-left-bubble
    top: -35px
    left: -35px

.lower-left-bubble
    bottom: 0
    left: -17px

#loading_float
    z-index: 5
    position: fixed
    bottom: 10px
    left: 5px
    opacity: .9

    #status
        font-size: 80%

// span.word_concept
//     font-size: 120%
//     text-decoration: None

// .img_concept
//     width: 150px
//     height: 150px

h2.heading
    font-family: "Open Sans", sans-serif
    font-weight: 400
    margin-top: .5em
    margin-bottom: .75em

#global_options
    .ui-content h2
        margin-top: .25em
        margin-bottom: .25em
        font-weight: 300
        font-family: "Open Sans"
    .heading
        font-weight: 500
        font-family: "Open Sans"

label
    .flag_ico
        float: right
        height: 15px
        width: 20px

@media only screen and (min-width: 765px)

    body
        background-color: #777 !important
        position: relative !important

    *[data-role="page"]
        display: block
        max-width: 768px !important
        max-height: 1024px
        margin: 0 auto !important

        border: 3px solid #000
        border-radius: 4px
        box-shadow: 2px 2px 5px #000
