#user_stats_page
    background-color: #FFF

    .seventy_thirty_grid
        display: block
        height: 200px
        width: 100%

        .row
            display: block
            float: left

        .row:last-child
            clear: right

    #categories
        ul, li
            list-style-type: none
        ul
            float: right
        li
            padding: 5px
            margin: 2px
            text-shadow: none
            text-align: center

        li:first-child
            border-radius: 5px 5px 0 0

        li:last-child
            border-radius: 0 0 5px 5px

