#user_stats_page
    background-color: #FFF

    .seventy_thirty_grid
        display: block
        height: 200px
        width: 100%

        .row
            display: block
            float: left

        .row:last-child
            clear: right

    #categories
        ul, li
            list-style-type: none
        ul
            float: right
        li
            padding: 5px
            margin: 2px
            text-shadow: none
            text-align: center

        li:first-child
            border-radius: 5px 5px 0 0

        li:last-child
            border-radius: 0 0 5px 5px


    #high_scores
        ul, li
            list-style-type: none
            margin: 0 0 0 0
            padding: 0 0 0 0
        li
            font-family: "Open Sans"
            position: relative
            display: block
            width: 100%
            height: 1em
            margin-bottom: 1em
            padding-bottom: .75em
            border-bottom: 1px dashed #999

        li.this_is_you
            color: #099

        ul li:last-child
            border-bottom: none

        .username
            position: absolute
            left: 0px
            font-weight: bold
            font-size: 12pt

        .points
            position: absolute
            right: 0px
            font-size: 14pt
