#infoPage

    #info_text_content

        display: block
        margin: 0 auto
        max-width: 450px

        h3
            font-family: "Open Sans"
            font-size: 120%
            font-weight: 900
            margin: .5em 0 0 0
            padding: 0 0 0 0

        p, li, dd
            font-size: 120%
            font-family: "Open Sans"
            text-shadow: none
        dd
            margin-bottom: .5em

        ul
            margin: .5em 0 0 .75em
            padding: 0 0 0 0
        p
            margin: .25em 0 .5em 0
            padding: 0 0 0 0

        li
            list-style-type: circle
            margin-left: .5em
            text-indent: 0

