@-webkit-keyframes rotate-lt
    0%   
        -webkit-transform: rotate(0deg)
    30%  
	     -webkit-transform: rotate(-30deg) 
    60%  
	     -webkit-transform: rotate(30deg) 
    100% 
	     -webkit-transform: rotate(0deg) 

rotate-animation()
    -webkit-animation-name: rotate-lt
    -webkit-animation-delay: 900ms
    -webkit-animation-duration: 400ms
    -webkit-animation-iteration-count: 1
    -webkit-animation-timing-function: ease-in-out

#level_complete
    position: relative
    height: 420px
    width: 100%
    display: block

    h1, h1.center-icon
        font-weight: 100
        font-size: 260%
        width: 100%
        text-align: center
        font-family "Kaushan Script"

    h1.tjoho
        rotate-animation()

    .icon-is-too-big
        size: 120%

    .fa.fa-circle.fa-stack-2x
        color: #E5BF24

    p.note
        font-size: 130%
        font-weight: 100
        width: 100%
        text-align: center

    #repeat
        background-image: linear-gradient(#46B979, #287A35)
        border: 1px solid #287A35
        border-radius: 8px
        width: 80%
        margin: 0 auto

        .ui-btn-text
            font-size: 150%
            letter-spacing: 1px
            font-weight: 300

    #back_to_categories
        border: 1px solid #287A35
        border-radius: 8px
        width: 80%
        margin: 0 auto

        .ui-btn-text
            font-size: 150%
            letter-spacing: 1px
            font-weight: 300

