<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Gïelese {% trans %}South Sámi learning app{% endtrans %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- TODO: meta description, keywords -->
        <link rel="stylesheet" href="/static/landing/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="/static/landing/css/docs.min.css">
        <link rel="stylesheet" href="/static/landing/css/main.css">
        <link rel="stylesheet" href="/static/landing/css/landing.css">

        <!-- TODO: dev only -->
        <script src="http://localhost:9001/ws"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Gïelese</a>
        </div>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <img class="logo-img visible-md visible-lg"
               src="/static/images/gielese_logo_medium.png"
               id="large_logo" />
          <img class="logo-img visible-xs visible-sm"
               src="/static/images/gielese_logo_liten.png"
               id="small_logo" />
      </div>
    </div>

    <!--
gielese.no: nettside med tre knappar + lenke:
* spel html5-webapp
* last ned Android-app
* last ned iOS-app (tilgjengeleg frå DATO)
* lenke til dokumentasjon og info om personvern og lagra data
-->

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3">
          <p class="lead note">Learn vocabulary with audio, video and sound. Available for
          download for iOS (soon!) and Android, or for use in your
          mobile or desktop browser.</p>
          <div class="row">
            <!-- TODO: arrow -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="appstore-block">
                <a href="#" type="button" class="btn btn-lg btn-success">Play now</a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="appstore-block">
                <a href="https://play.google.com/store/apps/details?id=com.phonegap.gielese">
                 <img alt="{% trans %}Get it on Google Play{% endtrans %}"
                       src="https://developer.android.com/images/brand/no_generic_rgb_wo_60.png" />
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="appstore-block">
                <a href="#">
                  <img alt="{% trans %}Last ned fra App Store{% endtrans %}"
                       class="soon"
                       src="/static/landing/img/Download_on_the_App_Store_Badge_NO_135x40.png" />
                </a>
                <p class="note">(Coming soon for iOS.)</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <hr>

      <footer>
        <p>&copy; Aajege & Divvun, 2014</p>
      </footer>
    </div> 
    <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
