<!doctype html>
<html class="ui-mobile">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <title>aajege-app</title> 
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- iOS 7 only uses the last line -->
  <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=yes" />
  <link rel="shortcut icon" href="/favicon.ico">
</head> 

<body> 

    <h2>h.264</h2>
    <video width="320" height="320" autoplay="autoplay" loop autoplay>
        <source
        src="/static/media/concepts/house/2/video/r_ii_hpestidh.min.mp4"
        type="video/mp4">
    </video>
    <a
        href="/static/media/concepts/house/2/video/r_ii_hpestidh.min.mp4">source</a>

    <h2>webm</h2>
    <video width="320" height="320" autoplay loop>
        <source
        src="/static/media/concepts/house/2/video/r_ii_hpestidh.min.webm"
        type="video/webm">
    </video>

    <h2>Ogg</h2>
    <video width="320" height="320" autoplay loop>
        <source
        src="/static/media/concepts/house/2/video/r_ii_hpestidh.min.ogv"
        type="video/ogv">
    </video>


    <h2>Test alternates</h2>
    <video width="320" height="320" autoplay loop>
        <source
        src="/static/media/concepts/house/2/video/r_ii_hpestidh.min.mp4"
        type="video/mp4">
        <source
        src="/static/media/concepts/house/2/video/r_ii_hpestidh.min.ogv"
        type="video/ogg">
    </video>

</body>
</html>

