@-webkit-keyframes blue_flash
    0% 
        box-shadow: 0px 0px 0px #77F
    22% 
        box-shadow: 0px 0px 4px #77F
    22% 
        box-shadow: 0px 0px 30px #77F
    77% 
        box-shadow: 0px 0px 4px #77F
    100% 
        box-shadow: 0px 0px 0px #77F

blue-flash-animation()
    -webkit-animation-name: blue_flash
    -webkit-animation-duration: 3000ms
    -webkit-animation-iteration-count: 40
    -webkit-animation-timing-function: ease-in-out

#user_stats_page

    .ui-content
        padding-top: 10px


    p.score_error
        font-size: 120%
        color: #900

    #subnav-control
        display: block
        margin: 0 auto .5em auto
        text-align: center

        .ui-btn-inner
            padding: 5px 7px

        label .ui-btn-text
            font-size: 85%
            padding: 5px

    g text
        color: #FFF
        text-shadow: 1px 1px 1px #000 , -1px -1px 1px #000 , 1px -1px 1px #000, -1px 1px 1px #000
        fill: #FFF
        font-size: 110%

    background-color: #FFF

    .seventy_thirty_grid
        display: block
        height: 200px
        width: 100%

        .row
            display: block
            float: left

        .row:last-child
            clear: right

    #categories
        ul, li
            list-style-type: none
        ul
            float: right
        li
            padding: 5px
            margin: 2px
            text-shadow: none
            text-align: center

        li:first-child
            border-radius: 5px 5px 0 0

        li:last-child
            border-radius: 0 0 5px 5px


    #high_scores
        margin-bottom: 1em

        h3
            font-family: "Kaushan Script"
            font-size: 190%
            margin: .25em 0 .75em 0
            width: 100%
            text-align: center

        #point_list, #point_list li
            list-style-type: none
            margin: 0 0 0 0
            padding: 0 0 0 0

        #point_list
            li
                font-family: "Open Sans"
                position: relative
                display: block
                width: 100%
                margin-bottom: .5em
                height: 32px

            li.this_is_you
                color: #099

            li:last-child
                border-bottom: none

        #point_list span
            display: block
            line-height: 1.7em
            font-size: 14pt
            height: 32px

        #point_list .username
            font-family: "Kaushan Script"
            width: 58%
            position: absolute
            left: 3px
            font-weight: bold
            border: 1px solid #999
            border-radius: 3px 0 0 7px
            background-image: linear-gradient(#C3C3C3, #EBEBEB)
            color: #333
            font-weight: 100
            padding-left: 5px

        // TODO: test with huge score
        #point_list .points
            font-family: monospace
            position: absolute
            padding-right: 7px
            width: 43%
            right: 0px
            text-align: right
            line-height: 2.2em
            font-size: 11pt
            background-image: linear-gradient(#222, #333)
            text-shadow: 1px 1px 4px #7A0E0E
            color: #E9A45A
            border-radius: 0 7px 3px 0
            border: 1px solid #000

    #top_three
        display: block
        width: 100%
        height: 8em
        margin: 2.5em 0 3.5em 0
        padding: 0 0 0 0
        position: relative

        li
            list-style-type: none

        .number
            .circled-number
                display: block
                height: 90px
                width: 90px
                line-height: 84px
                font-size: 50px

                border-radius: 50%
                border: 5px solid gold
                background-image: linear-gradient(gold, goldenrod)
                text-align: center
                margin: 0 auto
                text-shadow: 1px 1px 4px #888

                box-shadow: 1px 1px 8px #AAA
                color: #FFF

        .second, .third
            .circled-number
                height: 60px
                width: 60px
                line-height: 54px
                font-size: 40px

        .second
            .circled-number
                border-color: #AAA
                background-image: linear-gradient(#CCC, #AAA)

        .third
            .circled-number
                border-color: #D6841C
                background-image: linear-gradient(#E7AA5C, #D6841C)

        .you_are_here
            .circled-number
                blue-flash-animation()

        li.point_block
            display: block
            width: 33%
            float: left

            .fa-stack.fa-lg
                margin: 0 auto 0 auto
                display: block

            .username
                font-weight: bold
                font-family: "Kaushan Script"
                font-size: 100%
                text-shadow: none
                margin-top: .5em
                border-radius: 4px 4px 0 0
                color: #333

            .points
                border-radius: 0 0 4px 4px
                text-shadow: 1px 1px 4px #EEE
                color: #B14343

            ul.score_set
                display: block
                margin: 0 0 0 0
                padding: 0 0 0 0
                width: 100%

                .score_part
                    display: block
                    width: 100%

                    span.txt
                        width: 100%
                        margin: 0 auto
                        display: block
                        text-align: center

    // iPad: 768 x 927
    @media only screen and (min-width: 750px)
        #display_stats
            margin: 1em auto
            width: 50%

        #statistics
            width: 50%

        #subnav-control
            width: 50%
            margin-top: .5em

        #top_three
            margin: 2.5em auto 4em auto

        #high_scores, #high_scores + p
            margin: 0 auto
            width: 50% 

        #high_scores + p
            margin-top: 2em

