heavy-shadow()
    text-shadow: 2px 0px 2px #222, 
        -2px 0px 2px #222, 
        0px 2px 2px #222, 
        0px -2px 2px #222


#subcategory_menu

    .category_buttons
        .ui-grid-b
            padding-top: 3em

#category_view
    background-position: center
    background-repeat: no-repeat
    background-size: cover !important

    #category_content, #subcategory_menu
        position: relative
        display: block
        top: 0px
        margin: 0 0 0 0
        padding: 0 0 0 0

    #category_buttons
        display: block
        position: fixed
        bottom: 10px
        right: 10px
        width: 45%
        // background-color: rgba(255, 255, 255, .8)
        // border-radius: 15px 0 0 0

        .category_name
            margin: 0 .5em 0 0
            text-indent: 0
            padding: 0 0 0 0
            font-family: "Open Sans"
            font-weight: 400
            font-size: 200%
            text-transform: lowercase
            text-align: right
            width: 80%
            color: #FFF
            heavy-shadow()

    ul.aajege-buttons
        position: relative
        right: 5px
        bottom: 20px
        list-style-type: none
        margin: 0 0 0 0
        padding: 0 0 0 0
        width: 100%

        a
            display: block

            margin: .5em auto 0 auto

            border-radius: 25px
            box-shadow: 0px 0px 3px #CCC

            line-height: 2.5em
            font-family: "Open Sans"
            font-weight: 100 !important
            letter-spacing: 2px
            color: #FFF
            font-size: 150%
            color: #FFF !important
            text-align: center
            background-color: #444
            text-shadow: none
            font-weight: 100


@media only screen and (max-width: 320px)
    #category_view #category_buttons
        width: 55% !important

        .ui-btn-text
            font-size: 11pt !important

@media only screen and (min-width: 400px)
    #category_background
        height: 500px !important

@media only screen and (min-width: 500px)
    #category_background
        height: 700px !important

@media only screen and (min-width: 600px)
    #category_background
        height: 800px !important

// iPad: 768 x 927
@media only screen and (min-width: 766px)
    #category_background
        height: 927px !important


